* {
	margin: 0;
}

a {
	text-decoration: none;
}

div[role="main"] {
	counter-reset: demo;
}

div[role="main"]:after {
	content: '';
	display: block;
	clear: both;
}

	a[data-property] {
		position: relative;
		float: left;
		box-sizing: border-box;
		text-align: center;
		outline-color: transparent;
	}
	
	body.in-page a[data-property]:not(:target) {
		opacity: .2 !important;
	}
	
	#on-hover:checked ~ div[role="main"] > a[data-property]:not(:hover):not(:target),
	body.in-page a[data-property]:not(:target) {
		animation: none !important;
	}
	
		a[data-property]:after {
			position: absolute;
			right: 0;
			left: 0;
			bottom: -1.2em;
			z-index: 2;
			line-height: 1;
			text-indent: 0;
			text-shadow: none;
			letter-spacing: 0;
		}
	
		a[data-property]:before {
		}
	